@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
body{ margin: 0%;
    padding: 0%;
    color: aliceblue;
    background-color: black;
    
}
.début{
    background-image: url(assets/Illustrations/Game/Batgame1.png);
    background-repeat: no-repeat;
    width: 100%; 
}
.intro{

}
.header{
    padding: 300px 300px 300px 300px;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding-inline: 15%;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.blanc a{ 
    color: aliceblue;
    text-decoration: none;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: -200px;
    margin-left: 68%;
}    
.logo img{
margin-bottom: 20px;
} 
h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 70px;
}
h2{
    font-family:'Rajdhani' , sans-serif;
    font-size: 35px;
}
p{
    font-family: 'Space Grotesk', sans-serif; 
    font-size: 20px;
}
.quizz{
    padding-left: 155px;
    padding-bottom: 100px;
    
}
.flèche{
    text-align: center;
}
.cages p{
    background-color: gray;
    width: 510px;
    padding: 10px 0px;
}
.quizz{

}
.bouton-bas button{
    background-image: linear-gradient(to right, #ffffff, #d4c2d7, #b9849f, #9c465a, #6f040d);
    width: 230px;
    height: 50px;
    border: none;
    
}
.bouton-bas{
    padding-top: 50px;
}
.bouton-bas a{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    
    color: aliceblue;
    text-decoration: none;
}
.titre2{
    text-align: center;
}
.petit p{
    font-family: 'Space Grotesk', sans-serif; 
    font-size: 10px;
}