
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
body{ margin: 0%;
    padding: 0%;
    color: aliceblue;
}
.début{
    background-image: url(assets/Illustrations/Home/Bathome1.png);
    height: 901px;
}
.intro{
    text-align: center;
}
.header{
    padding: 300px 150px;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding-inline: 15%;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
}
h2{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
}
p{
    font-family: 'Space Grotesk', sans-serif; 
    font-size: 18px;
}
.boutons
{
    margin-left: 25%;
}
.boutons a{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    
    color: aliceblue;
    text-decoration: none;
}
.boutons button{
    background-image: linear-gradient(to right, #ffffff, #d4c2d7, #b9849f, #9c465a, #6f040d);
    width: 230px;
    height: 60px;
    border: none;
    background: rgba(255, 255, 255, .0);
    background-image: linear-gradient(45deg,  #eddebf82 10% ,#890009);
    margin: 20px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: -600px;
    margin-left: 90%;
}    
.logo img{
margin-bottom: 20px;
} 
.bouton-bas button{
    background-image: linear-gradient(to right, #ffffff, #d4c2d7, #b9849f, #9c465a, #6f040d);
    width: 230px;
    height: 50px;
    border: none;
    
}
.bouton-bas{
    padding-top: 50px;
}
.bouton-bas a{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    
    color: aliceblue;
    text-decoration: none;
}
.blanc a{ 
    color: aliceblue;
    text-decoration: none;
}
.boutons{
padding: 20px;
}
.deux{
    background-color: black;
   padding-bottom: 100px;

}
.sliders{
    background-image: url(assets/Illustrations/Home/Batslider1.png);
    background-repeat: no-repeat;
    height: 550px;
    animation-name: momo;
    animation-duration: 50s !important;
    animation-iteration-count: infinite;
    width: 100%;

}
.sliders .slide{
    margin-left: 102px !important;
    margin-right: 102px !important;
    height: 100%;

}
@keyframes momo {
    10%{
        background-image: url(assets/Illustrations/Home/Batslider1.png);
    }
    20%{
        background-image: url(assets/Illustrations/Home/Batslider2.png);
    }
    30%{
        background-image: url(assets/Illustrations/Home/Batslider3.png);
    }
    40%{
        background-image: url(assets/Illustrations/Home/Batslider4.png);
    }
    50%{
        background-image: url(assets/Illustrations/Home/Batslider5.png);
    }
    60%{
        background-image: url(assets/Illustrations/Home/Batslider6.png);
    }
    70%{
        background-image: url(assets/Illustrations/Home/Batslider7.png);
    }
    80%{
        background-image: url(assets/Illustrations/Home/Batslider8.png);
    }
    90%{
        background-image: url(assets/Illustrations/Home/Batslider9.png);
    }
    100%{
        background-image: url(assets/Illustrations/Home/Batslider10.png);
    }
}
.batman{
    text-align: center;
}
.cinéma{
    text-align: justify;
    width: 68%;
    font-size: 21px;
    padding: 9%;
    margin: auto;
}
.photos{
    display: flex;
    justify-content: space-evenly;

}
.quatre{
    background-color: black;

    margin-top: -5px;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.gris{
    background-image: linear-gradient(to right bottom, #4f4a40, #3a4035, #243630, #112b2e, #081e2a);
}
.centre{
    text-align: center;
}
.grey{
      margin: auto;
    width: 50%;
    padding: 100px;
}
.gris input{
    border-top: none ;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 700px;
}
.bouton3 button{
background-color: transparent;
width: 90px;
height: 40px;
border-color: linear-gradient(to right, #d5e9f8, #b3d2eb, #91bcde, #6fa6d1, #4890c4);
}
.bouton3 a{
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
    color: aliceblue;
    text-decoration: none;
}

h1{
    margin: 0%;
}
.footer{
background-color: black;
text-align: center;
padding: 150px;
}
.guillemet{
    height: 400px;
}
.guillemet2{
    height: 70px;
float: inline-end;

}
.action{
    background-color: ;
}